<h1>Client Details for <%= @client.name %></h1>
<h4>Update Client Name:</h4>
<form action="/clients/<%= @client.id %>/updated" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class "form-group">
    <input type="text" name="name">
    <button class="btn btn-info" id="update">Update</button>
  </div>
</form>
<h4>Delete This Client:</h4>
<form action="/client_delete" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="client_id" value="<%= @client.id %>">
    <button class="btn btn-danger" name="delete" id="delete">Delete</button>
  </div>
</form>
