<h1>Add a Stylist</h1>
<form action="/stylists" method="post">
  <div class="form-group">
    <h4>Stylist's Name:</h4>
    <input type="text" name="name">
    <button type="submit" id="submit" class="btn btn-info">Save</button>
  </div>
</form>
